.div {
  width: 100%;
  /* margin-top: 10%; */
  position: relative;
  background-color: #fff;
  height: 768px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: 'Bagel Fat One';
}

.child {
  position: absolute;
  left: 0px;
  background-color: rgba(255, 200, 0, 0.02);
  width: 100%;
  height: 100%;
}
.item {
  position: absolute;
  background-color: rgba(249, 234, 155, 0.84);
  width: 100%;
  height: 5px;
}
.wrapper {
  align-self: stretch;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
/* 신고 내역 애 */
.inner {
  position: absolute;
  top: 20px;
  left: 20%;
  background-color: #ffc72cda;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  position: relative;
}
.textWrapper {
  align-self: stretch;
  border-radius: 5px 5px 0px 0px;
  background-color: #f9ea9b;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 10px;
  text-align: left;
  font-size: 18px;
}
.textContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.column0Inner {
  align-self: stretch;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 10px;
}
.column0 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
}
.textWrapper15 {
  align-self: stretch;
  border-radius: 5px 5px 0px 0px;
  background-color: #f9ea9b;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  font-size: 18px;
}
.textWrapper16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.column1Inner {
  align-self: stretch;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}
.column1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.column2 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
/* 신고 표 */
.table {
  position: absolute;
  top: 78px;
  left: 20%;
  width: 60%;
  height: 420px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  text-align: left;
  color: #333;
  font-family: NanumBarunpen;
}
