/* 화면 뒤뒤 배경 */
.up {
  width: 100%;
  position: relative;
  background-color: #fffbfa;
  height: 768px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: Lato, sans-serif;
}
/* 운동 뜨는 뒤의 배경 */
.upChild {
  position: absolute;
  /* top: 75px; */
  /* left: calc(50% - 512px); */
  background-color: rgba(252, 210, 179, 0.25);
  width: 100%;
  height: 714px;
}
/* 운동 url 뜨는 네모 */
.upItem {
  position: absolute;
  top: 155px;
  left: 957px;
  width: 497px;
  height: 457px;
  object-fit: cover;
}
/* 내 화면 들어오는 뒤 박스 */
.rectangleParent {
  position: absolute;
  top: 155px;
  left: 208px;
  width: 503px;
  height: 457px;
  font-size: 30px;
  font-family: NanumBarunpen, sans-serif;
  background-color: #000;
}
/* 숫자 */
.div {
  position: absolute;
  top: -70px;
  left: 50px;
  line-height: 82.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 40px;
}

.upInner {
  position: absolute;
  top: 707px;
  left: calc(50% - 18px);
  border-radius: 5px;
  width: 38px;
  height: 32px;
}

.rectangleDiv {
  position: absolute;
  top: 720px;
  /* left: calc(50% - 512px); */
  background-color: #fff;
  width: 100%;
  height: 114px;
}

.vectorIcon {
  position: absolute;
  top: 716px;
  left: 494px;
  max-width: 100%;
  overflow: hidden;
  height: 32px;
  object-fit: contain;
  opacity: 0.5;
}

.upChild1 {
  position: absolute;
  top: 716px;
  left: 530px;
  max-width: 100%;
  overflow: hidden;
  height: 32px;
  object-fit: contain;
  opacity: 0.5;
}
/* 시작하기, 운동중 글씨 */
.rectangleGroup {
  position: absolute;
  top: 738px;
  left: 1409px;
  width: 95px;
  height: 25px;
  cursor: pointer;
  color: #fff;
}
/* 시작하기, 운동중 버튼  */
.groupItem {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  background-color: #ff713c;
  width: 95px;
  height: 28px;
}

.b {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 22.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 23.3px;
}
/* 운동 이름 */
.b1 {
  position: absolute;
  top: 80px;
  left: 1150px;
  font-size: 28px;
  color: #ff713c;
  font-family: NanumBarunpen, sans-serif;
}

.div1 {
  position: absolute;
  top: 723px;
  left: 552px;
  font-weight: 500;
  color: #777;
  background-color: #000;
}
/* 첫번째 운동 버튼 */
.div2 {
  position: absolute;
  top: 738px;
  left: 332px;
  font-weight: 700;
  font-size: large;
  color: #ff713c;
  /* background-color: #ff713c; */
  cursor: pointer;
}
.div22 {
  position: absolute;
  top: 738px;
  left: 732px;
  font-weight: 700;
  font-size: large;
  color: #ff713c;
  cursor: pointer;
}
.div222 {
  position: absolute;
  top: 738px;
  left: 1132px;
  font-weight: 700;
  font-size: large;
  color: #ff713c;
  cursor: pointer;
}

.div3 {
  position: absolute;
  top: 35px;
  left: 0px;
  display: inline-block;
  width: 40px;
}

.div5 {
  width: 60px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  gap: 5px;
  cursor: pointer;
}

.wrapper {
  width: 73px;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.child {
  width: 50px;
  position: relative;
  border-radius: 2px;
  background-color: rgba(252, 124, 76, 0.74);
  height: 2px;
  opacity: 0;
}

.div6 {
  position: relative;
}

.div9 {
  width: 60px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  gap: 5px;
  cursor: pointer;
  color: #000;
}

.group {
  width: 73px;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.inner {
  width: 50px;
  position: relative;
  border-radius: 2px;
  background-color: rgba(252, 124, 76, 0.74);
  height: 2px;
}

.up1 {
  width: 22px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  flex-shrink: 0;
}

.upWrapper {
  width: 27px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: -4px;
  color: #ff713c;
  font-family: 'Ownglyph ryuttung', sans-serif;
}

.parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
  color: #777;
}

.personcircleParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}

.div11 {
  width: 124px;
  height: 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999;
}

.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

.frameGroup {
  width: 72px;
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.frame {
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div12 {
  width: 53px;
  position: relative;
  display: flex;
  align-items: center;
  height: 24px;
  flex-shrink: 0;
}
/* 운동 설명 */
.div13 {
  position: absolute;
  top: 634px;
  left: 942px;
  font-family: NanumBarunpen, sans-serif;
  text-align: left;
}

.p {
  margin: 0;
}
/* 하루홈트 글씨 */
.div14 {
  position: absolute;
  /* top: 77px; */
  left: 38px;
  font-size: 20px;
  font-family: NanumBarunpen, sans-serif;
}
.canvasContainer {
  top: 800px;
  width: 497px;
  height: 457px;
}
/* 하루홈트 글씨 박스 */
.upChild2 {
  position: absolute;
  /* top: 25px; */
  left: 0px;
  background-color: #fff;
  border-top: 0.5px solid #ff713c;
  box-sizing: border-box;
  width: 100%;
  height: 29px;
}
/* 하루홈트 밑줄 */
.upChild3 {
  position: absolute;
  top: 20px;
  left: 34px;
  border-radius: 2px;
  background-color: rgba(252, 124, 76, 0.72);
  width: 77px;
  height: 7px;
}
