.child {
  position: absolute;
  top: 73px;
  left: 0px;
  width: 1024px;
  height: 306px;
}
.item {
  position: absolute;
  top: 98px;
  left: 0px;
  background-color: #f9ea9b;
  width: 1024px;
  height: 306px;
}
.inner {
  position: absolute;
  top: 202px;
  left: 440px;
  width: 144px;
  height: 56px;
}
.cesD {
  position: absolute;
  top: 0%;
  left: 13.4%;
}
.b {
  position: absolute;
  top: 82.14%;
  left: 0%;
  font-size: 10px;
  color: #777;
  text-align: left;
}
.component79 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 388px;
  height: 56px;
}
.component79Wrapper {
  position: absolute;
  top: 0px;
  left: 178px;
  width: 388px;
  height: 56px;
}
.div2 {
  width: 28px;
  position: relative;
  letter-spacing: -0.18px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  flex-shrink: 0;
}
.wrapper {
  width: 28px;
  border-radius: 7.5px;
  background-color: #ff713c;
  height: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.div3 {
  position: relative;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  color: #333;
}
.div1 {
  width: 515px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div5 {
  width: 110px;
  position: relative;
  letter-spacing: -0.18px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div4 {
  border-radius: 10px;
  border: 1px solid rgba(119, 119, 119, 0.6);
  box-sizing: border-box;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
}
.div7 {
  width: 110px;
  position: relative;
  letter-spacing: -0.18px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  flex-shrink: 0;
}
.div6 {
  border-radius: 10px;
  border: 1px solid rgba(252, 124, 76, 0.74);
  box-sizing: border-box;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  color: rgba(252, 124, 76, 0.74);
}
.div9 {
  width: 110px;
  position: relative;
  letter-spacing: -0.18px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  height: 22px;
  flex-shrink: 0;
}
.group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 12px;
  color: rgba(119, 119, 119, 0.6);
}
.parent {
  position: absolute;
  top: calc(50% - 1160px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.div13 {
  width: 28px;
  position: relative;
  letter-spacing: -0.18px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b1 {
  width: 110px;
  position: relative;
  letter-spacing: -0.18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  flex-shrink: 0;
}
.frameDiv {
  position: absolute;
  top: calc(50% - 1043px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.div24 {
  position: relative;
  white-space: pre-wrap;
}
.wrapper3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  color: #000;
}
.parent2 {
  position: absolute;
  top: calc(50% - 926px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent4 {
  position: absolute;
  top: calc(50% - 809px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent6 {
  position: absolute;
  top: calc(50% - 692px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent8 {
  position: absolute;
  top: calc(50% - 575px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent10 {
  position: absolute;
  top: calc(50% - 458px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent12 {
  position: absolute;
  top: calc(50% - 341px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent14 {
  position: absolute;
  top: calc(50% - 224px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent16 {
  position: absolute;
  top: calc(50% - 107px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent18 {
  position: absolute;
  top: calc(50% + 10px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent20 {
  position: absolute;
  top: calc(50% + 127px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent22 {
  position: absolute;
  top: calc(50% + 244px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent24 {
  position: absolute;
  top: calc(50% + 361px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent26 {
  position: absolute;
  top: calc(50% + 478px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent28 {
  position: absolute;
  top: calc(50% + 595px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent30 {
  position: absolute;
  top: calc(50% + 712px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent32 {
  position: absolute;
  top: calc(50% + 829px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent34 {
  position: absolute;
  top: calc(50% + 946px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.parent36 {
  position: absolute;
  top: calc(50% + 1063px);
  left: calc(50% - 297.5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 30px;
}
.frameParent {
  width: 595px;
  position: relative;
  height: 2320px;
}
.groupWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 9px 9px 25px rgba(179, 175, 174, 0.24);
  border-radius: 10px;
  background-color: #fff;
  width: 744px;
  height: 2461px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 57px 74px;
  box-sizing: border-box;
}
.frameWrapper {
  position: absolute;
  top: 72px;
  left: 0px;
  width: 744px;
  height: 2461px;
  font-size: 14px;
  color: #fff;
  font-family: Lato;
}
.groupParent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 744px;
  height: 2533px;
}
.groupDiv {
  position: absolute;
  top: 202px;
  left: 140px;
  width: 744px;
  height: 2533px;
}
.b5 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 15px;
  background-color: #ff713c;
  width: 113px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
  box-sizing: border-box;
  cursor: pointer;
}
.b7 {
  position: absolute;
  top: 0px;
  left: 163px;
  border-radius: 15px;
  background-color: #ff713c;
  border: 1px solid #ff713c;
  box-sizing: border-box;
  width: 113px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
  cursor: pointer;
}
.bParent {
  position: absolute;
  top: 2691px;
  left: 374px;
  width: 276px;
  height: 31px;
  font-size: 18px;
  color: #fff;
}
.bitamin {
  width: 136px;
  position: relative;
  font-size: 32px;
  font-family: 'Bagel Fat One';
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.wrapper38 {
  width: 73px;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.rectangleDiv {
  width: 50px;
  position: relative;
  border-radius: 2px;
  background-color: rgba(252, 124, 76, 0.74);
  height: 2px;
  opacity: 0;
}
.div217 {
  width: 60px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  gap: 5px;
  cursor: pointer;
}
.up {
  width: 22px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  flex-shrink: 0;
}
.upWrapper {
  width: 27px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: -4px;
  color: #ff713c;
  font-family: 'Ownglyph ryuttung';
}
.parent39 {
  width: 73px;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.parent38 {
  width: 496px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #777;
}
.personcircleIcon {
  width: 19px;
  position: relative;
  height: 19px;
  overflow: hidden;
  flex-shrink: 0;
}
.span1 {
  font-size: 12px;
}
.span {
  font-family: NanumBarunpen;
  font-size: 17px;
}
.txt {
  width: 100%;
}
.div224 {
  width: 53px;
  position: relative;
  display: flex;
  align-items: center;
  height: 24px;
  flex-shrink: 0;
}
.wrapper40 {
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.vectorIcon {
  width: 9px;
  position: relative;
  height: 6px;
}
.vectorWrapper {
  width: 9px;
  height: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 0px;
  box-sizing: border-box;
}
.frameContainer {
  width: 72px;
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.personcircleParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.icon {
  width: 19px;
  position: relative;
  height: 19.7px;
}
.wrapper41 {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.div223 {
  width: 124px;
  height: 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999;
}
.navbar {
  position: absolute;
  top: -1px;
  left: 39px;
  background-color: #fff;
  width: 944px;
  height: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 94px;
  font-size: 14px;
  color: #ff713c;
}
.child3 {
  position: absolute;
  top: 486px;
  left: 1014px;
  border-radius: 5px;
  background-color: #d9d9d9;
  width: 10px;
  height: 126px;
}
.div {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 2832px;
  overflow: hidden;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-family: NanumGothic;
}
