@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ownglyph+ryuttung:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NanumGothic:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NanumBarunpen:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NanumGothicCoding:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
body {
  margin: 0;
  line-height: normal;
}
@font-face {
  font-family: 'Nanum Gothic';
  src: url('/fonts/NanumGothic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Gothic Bold';
  src: url('/fonts/NanumGothicBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ownglyph ryuttung';
  src: url('/fonts/온글잎 류뚱체 (1).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bagel Fat One';
  src:
    url('/fonts/BagelFatOne-Regular.woff2') format('woff2'),
    url('/fonts/BagelFatOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
