.betterTomorrowBetter {
  position: absolute;
  top: 26.063rem;
  left: calc(50% - 110px);
}
.bitamim {
  position: absolute;
  top: calc(50% - 63px);
  left: calc(50% - 375px);
  font-size: 4.375rem;
  color: #fff;
}
.child {
  position: absolute;
  top: -2.961rem;
  left: 29.75rem;
  filter: blur(500px);
  border-radius: 50%;
  background-color: #ffeeaf;
  width: 20.556rem;
  height: 73.225rem;
  transform: rotate(-41.2deg);
  transform-origin: 0 0;
}
.item {
  position: absolute;
  top: 27.305rem;
  left: -11rem;
  filter: blur(300px);
  background-color: #ffeeb0;
  width: 18.1rem;
  height: 57.438rem;
  transform: rotate(-31.4deg);
  transform-origin: 0 0;
}
.div {
  width: 100%;
  position: relative;
  background-color: #ff713c;
  height: 48rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.25rem;
  color: #000;
  font-family: NanumBarunpen;
}
